:root {
	--site-max-width: 800px;
	--site-main-background-color: white;
	--site-primary-color: #111;
	--site-secondary-color: white;
	--site-highlight-color: green;
	--site-primary-font-color: #111;
}


/* GENERAL */
body {
	font-family: sans-serif;
	margin: 0;
	padding: 0 5%;
	color: var(--site-primary-font-color);
}

p {
	font-size: 16px;
	line-height: 1.5;
	margin: 0 0 24px 0;
}

.button {
	border: 2.5px solid var(--site-primary-color);
	padding: 8px 16px;
	font-weight: 600;
	text-decoration: none;
	border-radius: 8px;
	color: var(--site-primary-color);
	transition: background-color .25s linear;
	display: inline-block;
	margin: 8px 0;
	
	&:hover {
		background-color: var(--site-primary-color);
		color: var(--site-secondary-color);
	}
}


/* HEADER */
header {
	padding: 40px;
	text-align: center;
}

h1 {
	font-family: 'Overpass', sans-serif;
	font-size: 64px;
	line-height: 64px;
	margin: 0;
	
	& > span {
		background-color: var(--site-highlight-color);
		border: 8px solid white;
		border-radius: 24px;
		color: white;
		display: inline-block;
		padding: 24px 32px 8px;
		margin-right: 0;
		box-shadow: 0 1px 4px rgba(0,0,0,.3);
	}
}


/* MAIN */
main {
	max-width: 800px;
	margin: 0 auto;
}

section {
	margin: 48px 0;
}

header + main > section {
	margin-top: 0;
}


/* CONCERNS */
.concerns-list {
	border-left: 2px solid #ccc;
	list-style: none;
	margin: 0;
	padding: 16px 0;
	
	& > li {
		position: relative;
		padding-left: 24px;
		
		&::before {
			content: '';
			position: absolute;
			border-radius: 50%;
			height: 16px;
			width: 16px;
			border: 2px solid #ccc;
			background-color: var(--site-main-background-color);
			top: -1px;
			left: -11px;
		}
		
		& > h3 {
			line-height: 1;
			margin: 0 0 16px 0;
			font-size: 18px;
		}
		
		& > h4 {
			line-height: 1;
			margin: 32px 0 16px 0;
			font-size: 16px;
		}
		
		& > p {
			font-size: 16px;
			line-height: 1.5;
			margin: 0 0 24px 0;
			
			& > img {
				width: 100%;
			}
			
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}